<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">锦绣园林水景科技</h2>
                <hr class="light">
                <p class="text-faded">
                  多年来，公司以国际一流的创意设计和国际标准的生产服务，无论是城市广场、生态公园，还是主题公园、喷泉景观，锦绣园林水景科技始终以其无与伦比的创造力、新颖别致的设计、精湛绝伦的表现力，为客户提供了臻善臻美的水景奇观。
                </p>
                <a href="#" class="btn btn-default btn-xl">咨询一下</a>
            </div>
        </div>
    </div>
</section>

